html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
Installation theme-color :
  - Source : https://lukelowrey.com/css-variable-theme-switcher/
 */
:root {
  --accent-color: var(--accent-yellow);
  --background-color: var(--primary-lightest);
  --container-color: var(--primary-light-medium);
  --text-color: var(--primary-darkest);
  --text-medium-color: var(--primary-dark-medium);
  --text-disabled: var(--primary-light);
  --text-error: var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow);
  --primary-darkest: #050404;
  --primary-dark-medium: #181818;
  --primary-lightest: #E3E3E3;
  --primary-light-medium: #A8A8A8;
  --primary-light: #787879;
  --primary-error: #FF646C;
  --primary-code-blue-dark: #64B5FF;
  --primary-code-blue-light: #64D0FF;
  --primary-shadow: rgba(0, 0, 0, 0.16);
  --accent-yellow: #FACD3D;
  --accent-green-jade: #1BA098;
  --accent-purple: #9946FF;
  --accent-magengta: #9D2567;
  --accent-blue-dark: #5E8ABE;
  --accent-blue-light: #97B9E0; }

html[data-theme='dark'] {
  --accent-color: var(--accent-yellow);
  --background-color: var(--primary-darkest);
  --container-color: var(--primary-dark-medium);
  --text-color: var(--primary-lightest);
  --text-medium-color: var(--primary-light-medium);
  --text-disabled: var(--primary-light);
  --text-error: var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow); }

html[data-theme='light'] {
  --accent-color: var(--accent-yellow);
  --background-color: var(--primary-lightest);
  --container-color: var(--primary-light-medium);
  --text-color: var(--primary-darkest);
  --text-medium-color: var(--primary-dark-medium);
  --text-disabled: var(--primary-light);
  --text-error: var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow); }

/* IMPORTS FONTS */
@font-face {
  font-family: "Apple Color Emoji";
  src: url("/public/fonts/AppleColorEmoji.ttf") format("ttf"); }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro.ttf") format("ttf"); }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-Bold.ttf") format("ttf");
  font-weight: bold; }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-BoldItalic.ttf") format("ttf");
  font-style: italic;
  font-weight: bold; }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-Italic.ttf") format("ttf");
  font-style: italic; }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-Medium.ttf") format("ttf");
  font-weight: 500; }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-Super.ttf") format("ttf");
  font-weight: 800; }
@font-face {
  font-family: "BauPro";
  src: url("/public/fonts/BauPro-SuperItalic.ttf") format("ttf");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: "Fugue";
  src: url("/public/fonts/Fugue-Regular.otf") format("otf"); }
@font-face {
  font-family: "Fugue";
  src: url("/public/fonts/Fugue-BoldItalic.ttf") format("ttf");
  font-style: italic;
  font-weight: bold; }
@font-face {
  font-family: "Fugue";
  src: url("/public/fonts/Fugue-DemiBold.ttf") format("ttf");
  font-style: italic;
  font-weight: 600; }
:root {
  --FontFamilyTitles: "Fugue", sans-serif;
  --FontFamilyMain: "BauPro", sans-serif;
  --FontSizeXXL: 40px;
  --FontSizeXL: 32px;
  --FontSizeL: 20px;
  --FontSizeM: 16px;
  --FontSizeS: 13px;
  --FontSizeXS: 9px;
  --FontWeightBold: bold;
  --FontWeightMedium: 500;
  --FontWeightDemiBold: 600; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.a-button {
  height: 48px;
  padding: 10px 24px;
  text-decoration: none;
  border: 1px solid var(--text-color);
  border-radius: 100px;
  color: var(--text-color);
  font-family: "Fugue", sans-serif;
  font-size: var(--FontSizeL);
  text-align: center;
  margin-top: 16px; }
  .a-button:hover {
    color: var(--accent-color);
    border: 1px solid currentColor; }

.a-titleH1 {
  font-size: var(--FontSizeXXL);
  font-family: "Fugue", sans-serif;
  color: var(--text-color);
  margin-bottom: 16px; }

.a-titleH2 {
  font-size: var(--FontSizeXL);
  font-family: "Fugue", sans-serif;
  color: var(--text-color);
  margin-bottom: 16px;
  text-transform: lowercase; }

.a-titleH3 {
  font-size: var(--FontSizeXL);
  font-family: "Fugue", sans-serif;
  color: var(--text-color);
  margin-bottom: 16px; }

.a-titleH4 {
  font-size: var(--FontSizeL);
  font-family: "Fugue", sans-serif;
  color: var(--text-color);
  margin-bottom: 16px; }

.a-titleH5 {
  font-size: var(--FontSizeS);
  font-family: "Fugue", sans-serif;
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase; }

.a-text {
  color: var(--text-color);
  font-family: "BauPro", sans-serif;
  font-size: var(--FontSizeL); }

.a-link {
  color: var(--text-color);
  font-family: "BauPro", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: var(--FontSizeL); }
  .a-link:hover {
    text-decoration: underline currentColor; }

.a-icon {
  width: 24px; }
  .a-icon:hover {
    width: 50px; }

/*# sourceMappingURL=styles.css.map */
