/**
Installation theme-color :
  - Source : https://lukelowrey.com/css-variable-theme-switcher/
 */

:root {
  // Current palette
  // color-scheme: dark;
  --accent-color: var(--accent-yellow);
  --background-color: var(--primary-lightest);
  --container-color : var(--primary-light-medium);
  --text-color: var(--primary-darkest);
  --text-medium-color : var(--primary-dark-medium);
  --text-disabled: var(--primary-light);
  --text-error : var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow);

  // Primary P palette
  --primary-darkest: #050404;
  --primary-dark-medium: #181818;
  --primary-lightest: #E3E3E3;
  --primary-light-medium: #A8A8A8;
  --primary-light: #787879;
  --primary-error: #FF646C;
  --primary-code-blue-dark: #64B5FF;
  --primary-code-blue-light: #64D0FF;
  --primary-shadow: rgba(0, 0, 0, 0.16);

  // Accent A Color
  --accent-yellow: #FACD3D;
  --accent-green-jade: #1BA098;
  --accent-purple: #9946FF;
  --accent-magengta: #9D2567;
  --accent-blue-dark: #5E8ABE;
  --accent-blue-light: #97B9E0;
}

html[data-theme='dark'] {
  --accent-color: var(--accent-yellow);
  --background-color: var(--primary-darkest);
  --container-color : var(--primary-dark-medium);
  --text-color: var(--primary-lightest);
  --text-medium-color : var(--primary-light-medium);
  --text-disabled: var(--primary-light);
  --text-error : var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow);
}

html[data-theme='light'] {
  --accent-color: var(--accent-yellow);
  --background-color: var(--primary-lightest);
  --container-color : var(--primary-light-medium);
  --text-color: var(--primary-darkest);
  --text-medium-color : var(--primary-dark-medium);
  --text-disabled: var(--primary-light);
  --text-error : var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow);
}